body {
  text-align: justify;
  color: #1eff00;
  background-color: black;
  max-width:60em;
  padding:0.1%;
  margin:auto;
  font-size: 1.2em;
}

.logo img {
    width: 20%;
    height: 20%;
    float: left;
    overflow: auto;
    margin-bottom: 10px;
    margin-right: 15px;
}
.logo h1 {
    margin-bottom: 5px;
    padding-top: 30px;
}

footer { text-align: center; }


hr {
    border: solid 3px #06ff00;
    box-shadow: 1px 2px 1px 1px black;
}

/* BOX MENU */
div.menu {
  background-color: #00FF00;
  padding: 1%;
  overflow: auto;
  clear: left;
  text-align: center;
}

div.menu a {
  display: inline-block;
  color: black;
  /*text-align: center;*/
  padding: 7px;
  text-decoration: underline;
}

h1 { 
    color: #06ff00;
    font-size: 130px;
}

li {
    padding-bottom: 1%;
}

h2.tag {
    color: green;
}

h3 { color: #06ff00; }

/* Dispositivos móveis */
@media screen and (max-device-width: 480px) {
    body {
	    font-size: 190%;
    }
    .btnmenu{font-size: 170%;}
    .comprarcurso{font-size: 170%;}
}

/******** LINKS GLOBAIS *********/
a:link{ color: #1eff00; text-decoration: underline;}
a:visited{ color: #1eff00; }
a:hover{ color: gray;}
.btnmenu { color: #06ff00;}